.myheader {
  text-align: center;
  background-color: pink;
}

.image {
 border-radius: 50%;
 left: 50px;
}

#carouselExampleCaptions {
  text-align: center;
}

.item1 {
  background-color: red;
}
.item2 {
  background-color: blue;
}
.item3 {
  background-color: yellow;
}
